name: Create a release

on:
  workflow_dispatch:
    inputs:
      verification:
        description: 'Write "yes" to confirm'
        required: true
        type: string
      release_level:
        description: 'Release level'
        required: false
        type: choice
        default: "auto"
        options:
          - "auto"
          - "patch"
          - "minor"
          - "major"

permissions:
  id-token: write
  contents: write
  pull-requests: read

concurrency:
  group: release-${{ github.sha }}
  cancel-in-progress: true

jobs:
  release_if_ok:
    if: github.event.inputs.verification == 'yes'
    uses: AibelDevs/action-toolbox/.github/workflows/tool-generate-semantic-version.yaml@main
    with:
      config_toml_file: "action_config.toml"
    secrets:
      SOURCE_KEY: ${{ secrets.SOURCE_KEY }}
